<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<properties resource='mysql.jdbc.properties' />

	<settings>
		<setting name="aggressiveLazyLoading" value="false" />
	</settings>
	
	<typeAliases>
		<typeAlias alias="User" type="ru.omsu.imit.novikova.model.User" />
		<!--<typeAlias alias="Voter" type="ru.omsu.imit.voting.model.Voter" />-->
		<!--<typeAlias alias="Candidate" type="ru.omsu.imit.voting.model.Candidate" />-->
		<!--<typeAlias alias="Bulletin" type="ru.omsu.imit.voting.model.Bulletin" />-->
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type='JDBC' />
			<dataSource type='POOLED'>
				<property name='driver' value='${jdbc.driverClassName}' />
				<property name='url' value='${jdbc.url}' />
				<property name='username' value='${jdbc.username}' />
				<property name='password' value='${jdbc.password}' />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="ru.omsu.imit.novikova/mybatis.mappers/User.xml" />
		<package name="ru.omsu.imit.novikova.mappers" />
	</mappers>

</configuration>
